/*========================================
            Common-Css
========================================*/
img{
    width: 100%;
}




/*========================================
             Header-Css
========================================*/
nav img{
    width: 120px;
    height: 50px;
}
/*========================================
            Carousel-Css
========================================*/
.carousel-row{
    padding: 0px 100px;
}
.carousel-row img{
    width: 100%;
}
.carousel-row .card{
    border: none;
}
/*========================================
            Smartphone-Css
========================================*/

/*========================================
            Laptop-Css
========================================*/

/*========================================
            Categories-Css
========================================*/

/*========================================

========================================*/
